body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:#fff5d7; */
    background-image: url('./image.png');
}
.headingdiv {
    display: flex;
    align-items: center;
    color: 	#011727;
    font-size: 15px;
}
.headingdiv img{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    margin-right: 2px;
}
.headingdiv span{
    color: 	#2da7db;
}

.root{
    
    width: 80vmin;
    /* background-color: rgb(255, 255, 0); */
    aspect-ratio: 1 / 1; 
    display: flex;
    flex-wrap: wrap;
    border: 2px solid 	#1e293b;

}
.blackbox {
    background-color: #004474;
    /* box-sizing: border-box;   */
    width: calc(12.5% - 2px);
    aspect-ratio: 1 / 1; 
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    color: 	#475569;
    font-size: 14px;

}

.whitebox{
    background-color:#e0f8f8;
    width: calc(12.5% - 2px);
    aspect-ratio: 1/1;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 50, 163);
    font-size: 14px;
}

.root img{
    width:70%;
    height:70%;
}

.pieceskilled{
    display: flex;
    
    
    margin-top:5px ;
}
.pieceskilled img{
    width: 30px;
}

.whitepiecesdiv{
    border: 1px black solid;
    margin-right: 5px;
    /* opacity: 0.5; */
    
}
.blackpiecesdiv{
    border: 1px black solid;
    margin-left: 5px;
    /* opacity: 0.5; */
}


.selected{
    background-color: rgba(255, 215, 0, 0.5);
}
.blackbox:hover , .whitebox:hover{
    outline: 2px dashed rgba(255, 215, 0, 0.5);
    cursor: pointer;
    position: relative;     /* Required for z-index to apply */
    z-index: 1;             /* Makes sure the outline is above adjacent boxes */
    
}
.blackbox img:hover , .whitebox img:hover{
    transform: scale(1.2);
}
.CurrentTurnDiv{
    font-size: 23px;
    opacity: 0.2;
}