body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:beige;
}
.headingdiv {
    color: 	#1e293b;
    font-size: 15px;
}
.headingdiv span{
    color: 	#38bdf8;
}

.root{
    
    width: 80vmin;
    /* background-color: rgb(255, 255, 0); */
    aspect-ratio: 1 / 1; 
    display: flex;
    flex-wrap: wrap;
    border: 2px solid 	#1e293b;

}
.blackbox {
    background-color: #888;
    /* box-sizing: border-box;   */
    width: calc(12.5% - 2px);
    aspect-ratio: 1 / 1; 
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    color: 	#475569;
    font-size: 14px;

}

.whitebox{
    background-color:#fefefe;
    width: calc(12.5% - 2px);
    aspect-ratio: 1/1;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 50, 163);
    font-size: 14px;
}

.root img{
    width:70%;
    height:70%;
}